.headerOutlineSection {
    padding: 0 24px;
    height: 10vh;
    width: 96%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-bg);
    border-bottom: 1px solid var(--white-08);
}

.managementBreadCrumb {
    color: var(--accent-purple);
    background: var(--white-02);
    border-radius: var(--radius-md);
    padding: var(--spacing-sm);
}

.whatsNew {
    color: var(--accent-purple);
}

.robotOutlined {
    background: var(--accent-purple);
}

.whatsNewContainer {
    padding: 0px;
}

.bellIcon {
    border-radius: 50%;
    background-color: var(--black);

    border: 1px solid var(--white);
}

.bellIconSubSection {
    font-size: calc(var(--font-sm) + 2px);
    margin: 3px;
}