.quickAppsMainContainer {
    padding: var(--spacing-xl);
    background: var(--white-02);
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.quickAppsMainContainer .ant-row {
    flex-flow: nowrap !important;
    overflow: hidden;
}

.quickappsRow {
    display: flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
    margin: var(--spacing-sm) 0;
}

.quickappsCard {
    width: 120px;
    text-align: center;
    border-radius: var(--radius-sm);
    border: 1px solid var(--white);
    background: var(--black-35);
}

.quickappsAvatar {
    background: var(--white-01);
    margin-top: var(--spacing-md);
    font-weight: 600;
}

.quickappsLabel {
    margin-top: var(--spacing-md);
    color: var(--white);
}

.quickAppsInnerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--spacing-lg);
    overflow-x: scroll;
}

.quickAppsInnerContainer::-webkit-scrollbar {
    display: none;
}