.slider {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    flex: 0px 4% !important;
    max-width: 4% !important;
    min-width: 4% !important;
    position: fixed;
}

.sliderMainContainer{
    display: flex;
    width:4%;
    background: var(--secondary-bg);
    border-right: 1px solid var(--white-08);
}

.sliderIconsSection {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-sm) var(--spacing-sm);
}

.topIconsSection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    align-items: center;
}
.logoIconPart{
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-lg);
}

.appIcon {
    display: flex;
    align-items: center
}

.appIconSubPart {
    font-size: calc(var(--font-xl) + 2px);
}

.folderIcon {
    font-size: calc(var(--font-md) + 2px);
    background: var(--accent-blue);
    padding: var(--spacing-xs) var(--spacing-sm) var(--spacing-xs) var(--spacing-sm);
}

.bottomIconsSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center,
}

.bottomSubIconSection {
    font-size: calc(var(--font-md) + 2px);
    cursor: pointer;
}

.bottomBackIcon {
    padding-top: 10px;
}